{% ckan_extends %}

{% block header_site_navigation_tabs %}
{% set org_type = h.default_group_type('organization') %}
{% set group_type = h.default_group_type('group') %}

{{ h.build_nav_main(
    (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
    (org_type ~ '.index',
      h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
    (group_type ~ '.index',
      h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
    ('datalife_explorer.explorar_catalogos', _('Explorar catálogos')),
    ('home.about', _('About')) ) }}
{% endblock %}

{% block header_account_logged %}
{{ super() }}
{% if c.userobj.sysadmin %}
<li>
  <a href="{{ h.url_for('harvest.new') }}" title="{{ _('Añadir fuente de datos') }}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span class="text">{{ _('Fuentes de datos') }}</span>
  </a>
</li>
{% endif %}
{% endblock %}
